// Colors
$black: #111111;
$white: #fff;
$red: #c70101;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

body {
  background: url(../img/general/court.jpeg), #cac7c7;
  background-size: cover;
  background-blend-mode: color-dodge;
  background-attachment: fixed;
}
