.fixture {
  width: 95%;
  margin: 0 auto 4em;
  background: url(../img/general/fixture-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;

  &__teams {
    height: 70%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    h2 {
      font-size: 8rem;
      color: white;
      text-transform: uppercase;
    }
    h4 {
      font-size: 3rem;
      color: white;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 768px) {
  .fixture {
    width: 90%;
  }
}
@media screen and (min-width: 1300px) {
  .fixture {
    width: 70%;
  }
}
