// global nav styles
.nav-links {
  display: flex;
  justify-content: space-evenly;
  flex: 2;
  display: none;
  li a {
    color: $white;
    text-transform: uppercase;
    font-family: system-ui;
  }
}

// Display Nav
.display-nav {
  height: 100%;
  min-height: 5em;
  background: $white;
  @include flexAlignAround;

  .nav-img {
    object-fit: contain;
    width: 100px;
    height: 100px;
  }
}

//Page Nav
.page-nav {
  display: flex;
  flex-direction: column;
}

.border-bg {
  height: 0.5em;
  background: linear-gradient(to right, $red, black 45%, black 55%, $red 100%);
}

.site-nav {
  height: 10vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1em;
}

#logo {
  height: 100%;
  display: flex;
  align-items: center;
  img {
    object-fit: contain;
    height: 8vh;
  }
}

.social-links {
  flex: 1;
  display: none;
  justify-content: space-evenly;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .line {
    height: 2px;
    border-radius: 3px;
    width: 20px;
    background: white;
    margin: 3px;
  }
  .line1 {
    width: 40px;
  }
  .line2 {
    width: 30px;
  }
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }

  .nav-links {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  #logo {
    background-color: white;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    padding: 0 3em;
  }
  .social-links {
    display: flex;
  }
}
